@tailwind base;
@tailwind components;
@tailwind utilities;

/* apply styling to all tailwind css*/
@layer base{
    body{
        @apply font-sans;
        @apply bg-[#0a192f]
    }
    li{
        @apply px-4;
        @apply cursor-pointer
    }
    ::-webkit-scrollbar{
        @apply w-[10px];
        @apply h-[10px]
    }
    ::-webkit-scrollbar-track{
        @apply rounded-[1ex];
        @apply bg-transparent
    }
    ::-webkit-scrollbar-thumb{
        @apply bg-pink-600;
        @apply rounded-[1ex]
    }
    .active{
        @apply text-pink-600 !important
    }
}

.content-wrapper{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 240px;
}
.content-wrapper:hover{
    background-image: linear-gradient(
        to right,
        rgba(59, 70, 94, 0.5),
        hsla(242, 35%, 16%, 0.5)
    )!important;
}